project_name = "greenleaf"
region       = "us-east-1"

db_password            = "ChangeMe123!"
magento_admin_password = "ChangeMe123!"
magento_public_key     = "your-public-key"
magento_private_key    = "your-private-key"
magento_base_url       = ""

# Optional
# key_name        = "my-key"
# allow_ssh_cidr  = "1.2.3.4/32"
# ansible_repo_url    = "https://github.com/your-account/greenleaf-infra.git"
# ansible_repo_branch = "main"
# rds_multi_az        = true
# opensearch_instance_type = "t3.small.search"
# opensearch_engine_version = "OpenSearch_2.11"
# opensearch_volume_size = 10
