- name: Add PHP PPA
  apt_repository:
    repo: ppa:ondrej/php
    state: present

- name: Install PHP and extensions
  apt:
    name:
      - "php{{ php_version }}"
      - "php{{ php_version }}-fpm"
      - "php{{ php_version }}-common"
      - "php{{ php_version }}-mysql"
      - "php{{ php_version }}-xml"
      - "php{{ php_version }}-cli"
      - "php{{ php_version }}-curl"
      - "php{{ php_version }}-intl"
      - "php{{ php_version }}-bcmath"
      - "php{{ php_version }}-mbstring"
      - "php{{ php_version }}-zip"
      - "php{{ php_version }}-soap"
      - "php{{ php_version }}-gd"
      - "php{{ php_version }}-opcache"
    state: present
    update_cache: yes

- name: Tune PHP-FPM settings
  ini_file:
    dest: "/etc/php/{{ php_version }}/fpm/php.ini"
    section: PHP
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  loop:
    - { option: "memory_limit", value: "756M" }
    - { option: "upload_max_filesize", value: "64M" }
    - { option: "post_max_size", value: "64M" }
    - { option: "max_execution_time", value: "180" }

- name: Ensure PHP-FPM running
  service:
    name: "php{{ php_version }}-fpm"
    state: started
    enabled: yes
